<form [formGroup]="productForm">
<div style="width: 400px; margin: auto;">
    <div class="submit-form">
        <div>
            <div class="form-group">
                <label for="name">Nazwa</label>
                <input type="text" class="form-control" id="name" required  formControlName="name" />
            </div>
            <div class="form-group">
                <label for="category">Kategoria:</label>
                <select class="form-control" formControlName="category">
                  <option *ngFor="let cat of categories" value="{{cat?.id}}" [selected]="cat?.id === product.category">{{cat.categoryName}}</option>
              </select>
            </div>
           
            <button (click)="updateProduct(product.id, product)" [routerLink]="['/products']"
                class="btn btn-success">Zatwierdź</button>
        </div>
    </div>
</div>

{{ productForm.value | json}}
</form>
